.outerBox1 {
  position: absolute;
  top: 16vh;
  left: 2vw;
  height: 56vh;
  width: 27vw;
  border: 4px solid #f7f7f6;
  box-shadow: 0px 0px 10.9191px rgba(0, 0, 0, 0.13);
  border-radius: 3%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f7f7f6;
  z-index: 1000;
}
.menuadmin {
  display: none;
  z-index: 1000;
}
.innerBox1 {
  width: 25vw;
  margin: auto;
  min-height: 15vh;
  background-color: #fff;
  border-radius: 6%;
  padding: 10px;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
}
.avatarbox {
  width: 5vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.naming {
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

.buttonsgrp1 {
  width: 25vw;
  margin: auto;
  background-color: #fff;
  border-radius: 6%;
  padding: 10px;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.startbtn {
  color: black;
  font-weight: 600;
  max-width: 130px;
  text-align: left;
  background-color: #7ee36e;
  border-radius: 20%;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .startbtnup1 {
    position: absolute;
    right: 10vw;
    bottom: 5vh;
  }
}

@media screen and (max-width: 768px) {
  .startbtn {
    margin: auto;
  }
  .startbtnup1 {
    position: absolute;
    width: 100vw;
    bottom: 5vh;
    display: flex;
  }
  .outerBox1 {
    width: 68vw;
  }
  .innerBox1 {
    width: 65vw;
  }
  .buttonsgrp1 {
    width: 65vw;
  }

  .naming {
    width: 50vw;
  }
  .menuadmin {
    display: block;
    position: absolute;
    top: 11.5vh;
    left: 2vw;
    padding: 10px;
    background-color: #f7f7f6;
    border-radius: 20%;
  }
}

.tab2 {
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backicon {
  width: 80%;
  /* margin: 20%; */
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

.listscrollable {
  max-height: 40vh;
  overflow-y: scroll;
}

.insidediv > div {
  overflow-y: scroll;
}
